NOTION_API_KEY=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
NOTION_DATABASE_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
NOTION_PAGE_SIZE=50
MICROSOFT_TEAMS_WEBHOOK_URL=
NEXT_PUBLIC_APP_NAME=Document Approval System
