NOTION_API_KEY=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
NOTION_DATABASE_ID=7551c494f8ce4efe875f4a11c243b071
NOTION_PAGE_SIZE=50
MICROSOFT_TEAMS_WEBHOOK_URL=
NEXT_PUBLIC_APP_NAME=Document Approval System
